{% extends "bookstore/base.html" %}
{% load crispy_forms_tags %}


{% block register_content %}

<div class="container-fluid col-md-4">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-botton mb-4">Payment Method</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add Card</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need to add another card? <a class="ml-2" href="{% url 'address-home' %}">Add card</a>
            </small>
        </div>
    </div>
</div>

{% endblock register_content %}