{% extends "bookstore/base.html" %}
{% load crispy_forms_tags %}


{% block register_content %}


<div class="row" style="padding: 0.9rem">
    <div class="col-sm-12 col-md-4">
        <div class="content-section ">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-botton mb-4">Payment Method</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Add Card</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need to add another card? <a class="ml-2" href="{% url 'address-home' %}">Add card</a>
            </small>
        </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-4">
        <div class="content-section ">
            <fieldset class="form-group">
             <legend class="border-botton mb-4">Saved Cards</legend>
            </fieldset>
            <div class="card-body">
                <div class="icon-container">
                    <i class="fab fa-cc-visa" style="color:navy;"></i>
                    <i class="fab fa-cc-amex" style="color:blue;"></i>
                    <i class="fab fa-cc-mastercard" style="color:red;"></i>
                    <i class="fab fa-cc-discover" style="color:orange;"></i>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    
                </div>
            </div>
        </div>
    </div>



</div>

{% endblock register_content %}