{% load static %}
<!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        {% if title %}
            <title>GeekText Bookstore- {{ title }}</title>
        {% else %}
            <title>GeekText Bookstore</title>
        {% endif %}

        <link rel="stylesheet" type="text/css" href="{% static 'bookstore/css/main.css' %}">
        {% include 'bookstore/css.html'%}

        {% block base_head %}{% endblock %}
    </head>
    <body>
        {% include 'bookstore/navbar.html' %}
{% if messages %}
            <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
    {% endif %}
            {% block home_content %} {% endblock %}
            

            {% block register_content %} 



          
            {% endblock register_content %}
            
            




            {% block listContent %} {% endblock %}
        {% include 'bookstore/js.html'%}
    </body>
</html>