{% extends "bookstore/base.html" %}
{% block title %}{{ book.title }} | {{ block.super }}{% endblock %}
{% load static from staticfiles %}
{% comment %} {% load reviews %} {% endcomment %}
<link rel="stylesheet" href="{% static 'books/books.css' %}">

{% load ratings %}
<html>

<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

</html>


{% block home_content %}
    <div class="container">
        
        <div class="row detail-content">
            <div class="col-sm-4 col-md-3">{% if book.image %}
                <img class = zoom img src="{{ book.image.url }}" style="height: 350px; width: 250px;">
            {% else %}
                <img id="book-image" src="/media/coming-soon.jpg" style="height: 350px; width: 230px;">
            {% endif %}</div>
            <div class="col-sm-5 col-md-6" style="padding: 0 15px 150px 0; border-right: 1px solid #cccccc;">
                <h2>{{ book.title }}</h2>
                <p style="min-height: 25px;">by {% for author in book.authors.all %}
                    {% if forloop.last %}<a href="#">{{ author }}
                    </a>{% else %}<a href="#">{{ author }}</a>,
                    {% endif %}
                {% endfor %}
                </p>
                {% if book.pages > 0 and book.sales_rank > 0 %}
                    {% include 'book_rating.html' %}
                    {% comment %} <a href="#book-reviews"><p class="detail-content" style="padding-bottom: 20px;">
                        {% if book.rating_avg %}{{ book.rating_count }} review{{ book.rating_count|pluralize }}
                        {% else %}Be the first to write a review{% endif %}</p>
                    </a> {% endcomment %}
                    {% comment %} <html>
                    <input type="hidden" name="next" value="{% url 'details/<int:index>/' %}" />
                      {% render_review_form for book %}
                  </html> {% endcomment %}
                  <hr>
                  {% if user.is_authenticated %}
                  <a class="btn btn-default" href="{% url 'add_review_to_book' pk=book.pk %}">Add a Review</a>
                  {% endif %}
                  {% comment %} {% for comment in book.comments.all %}
                      <div class="comment">
                          <div class="date">{{ comment.created_date }}</div>
                          <strong>{{ comment.author }}</strong>
                          <p>{{ comment.text|linebreaks }}</p>
                      </div>
                  {% empty %}
                      <p>No reviews here yet :(</p>
                  {% endfor %} {% endcomment %}
                  {% for comment in book.comments.all %}
                      {% if user.is_authenticated or comment.approved_comment %}
                      <div class="comment">
                          <div class="date">
                              {{ comment.created_date }}
                              {% if not comment.approved_comment %}
                                  <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                                  <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                              {% endif %}
                          </div>
                          <strong>{{ comment.author }}</strong>
                          <p>{{ comment.text|linebreaks }}</p>
                      </div>
                      {% endif %}
                  {% empty %}
                      <p>No comments here yet :(</p>
                  {% endfor %}
                {% else %}
                    <p style="color: red">Coming Soon</p>
                {% endif %}
                <p style="margin-top: 20px;">{{ book.description|linebreaksbr|truncatewords:50 }}</p>
                <a href="#full-desc">More details below</a>
            </div>
            <div class="col-sm-3">
                <h3 class="detail-content" style="padding-bottom: 25px;">Paperback</h3>
                <h3>${{ book.price }}</h3>
                {% if book.pages > 0 and book.sales_rank > 0 %}
                    <a href="#">
                        <button class="btn btn-success">Add To Cart</button>
                    </a>
                {% endif %}
                <br/><br/>
                <a href="/add-to-wishlist/{{i.id}}">
                    <button class="btn btn-success">Add To Wishlist <i class="fas fa-heart"></i></button>
                </a>
            </div>
        </div>
        {% if author_books.count > 2 %}
            <div class="row detail-content">
                <h3>Other Books by This Author</h3>
                {% if author_books.count > 6 %}
                    {% for books in author_books|slice:"6" %}
                        <div class="col-xs-4 text-center" style="padding-top: 20px;">
                            <a href="{% url 'books:book_detail' pk=books.id %}">
                                <img src="{{ books.image.url }}" style="width:100px; height:150px; ">
                                <h5 class="text-muted">{{ books.title }}</h5>
                                {% include 'book_rating.html' %}
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for books in author_books|slice:"3" %}
                        <div class="col-xs-4 text-center" style="padding-top: 20px;">
                            <a href="{% url 'books:book_detail' pk=books.id %}">
                                <img src="{{ books.image.url }}" style="width:100px; height:150px; ">
                                <h5 class="text-muted">{{ books.title }}</h5>
                                {% include 'book_rating.html' %}
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
         

        {% for book in books %}
        <div>{{book.image}} </div>
    
        {% endfor %}


        <!-- Carousel -->
        <!--Carousel Wrapper-->
        <div id="carousel-book-suggestions" class="carousel-book-suggerences">
<div id="carousel-with-lb" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn-floating btn-secondary" href="#carousel-with-lb" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-with-lb" data-slide-to="0" class="active secondary-color"></li>
      <li data-target="#carousel-with-lb" data-slide-to="1" class="secondary-color"></li>
      <li data-target="#carousel-with-lb" data-slide-to="2" class="secondary-color"></li>
    </ol>
    <!--/.Indicators-->
  
    <!--Slides and lightbox-->
  <!-- <div>{{ book.title }}</div> -->
    <div class="carousel-inner mdb-lightbox" role="listbox" >
      <div id="mdb-lightbox-ui"></div>

      
      <!--First slide-->
    
          <div class="carousel-item active">
  
        <figure class="d-md-inline-block">
          <a href="/books/details/13" data-size="1600x1067">
            <img src="/media/book9_HbgtjCy.jpg" class="book_13" alt="book_13" width="150" height="250">
          </a>
        </figure>
  
        <figure class="d-md-inline-block">
          <a href="/books/details/21" data-size="1600x1067">
            <img src="/media/book17_w26tsBF.jpg" class="book_21" alt="book_21" width="150" height="250">
          </a>
        </figure>
        
        <figure class="d-md-inline-block">
            <a href="/books/details/9" data-size="1600x1067">
              <img src="/media/book5_wHdPfgx.jpg" class="book_9" alt="book_9" width="150" height="250">
            </a>
          </figure>
       
          <figure class="d-md-inline-block">
                <a href="/books/details/8" data-size="1600x1067">
                  <img src="/media/book4_aQAYQy0.png" class="book_9" alt="book_9" width="150" height="250">
                </a>
              </figure>

              <figure class="d-md-inline-block">
                    <a href="/books/details/19" data-size="1600x1067">
                      <img src="/media/book15_VoUVets.jpg" class="book_9" alt="book_9" width="150" height="250">
                    </a>
                  </figure>
  
      </div>
      <!--/.First slide-->
  
      <!--Second slide-->
      <div class="carousel-item">
  
        <figure class="d-md-inline-block">
          <a href="/books/details/16" data-size="1600x1067">
            <img src="/media/book12_6IcX0pp.jpg" class="book_16" alt="book_16" width="150" height="250">
          </a>
        </figure>
  
        <figure class="d-md-inline-block">
          <a href="/books/details/14" data-size="1600x1067">
            <img src="/media/book10_SEYaMq7.jpg" class="book_14" alt="book_14" width="150" height="250">
          </a>
        </figure>
  
        <figure class="d-md-inline-block">
            <a href="/books/details/18" data-size="1600x1067">
              <img src="/media/book14_a732olz.jpg" class="book_18" alt="book_18" width="150" height="250">
            </a>
          </figure>
          <figure class="d-md-inline-block">
                <a href="/books/details/14" data-size="1600x1067">
                  <img src="/media/book10_SEYaMq7.jpg" class="book_18" alt="book_18" width="150" height="250">
                </a>
              </figure>

              <figure class="d-md-inline-block">
                    <a href="/books/details/12" data-size="1600x1067">
                      <img src="/media/book8_eXx7pzT.jpg" class="book_18" alt="book_18" width="150" height="250">
                    </a>
                  </figure>

      </div>
      <!--/.Second slide-->
  
      <!--Third slide-->
      <div class="carousel-item">
  
        <figure class="d-md-inline-block">
          <a href="/books/details/12" data-size="1600x1067">
            <img src="/media/book8_eXx7pzT.jpg" class="book_12" alt="book_12" width="150" height="250">
          </a>
        </figure>
  
        <figure class="d-md-inline-block">
          <a href="/books/details/20" data-size="1600x1067">
            <img src="/media/book16_1MdKow0.jpg" class="book_20" alt="book_20" width="150" height="250">
          </a>
        </figure>
  
        <figure class="d-md-inline-block">
            <a href="/books/details/1" data-size="1600x1067">
              <img src="/media/book1.jpg" class="book_1" alt="book_1" width="150" height="250">
            </a>
          </figure>

          <figure class="d-md-inline-block">
                <a href="/books/details/13" data-size="1600x1067">
                  <img src="/media/book13.jpg" class="book_1" alt="book_1" width="150" height="250">
                </a>
              </figure>

              <figure class="d-md-inline-block">
            <a href="/books/details/14" data-size="1600x1067">
              <img src="/media/book14.jpg" class="book_1" alt="book_1" width="150" height="250">
            </a>
          </figure>
        
  
      
  
      </div>
      <!--/.Third slide-->
  
    </div>
    <!--/.Slides-->
  
  </div>
  </div>
  <!--/.Carousel Wrapper-->
        




        <div id="full-desc" class="row detail-content">
            <!-- <div class="col-xs-6" style="padding-left: 0;"> -->
                <ul><h3>Full Description</h3>
                <div class="media">
                    <div class="media-left media-top">
                        <img src="{{ book.author.first.image.url }}" class="media-object" />
                    <!-- style="width: 300px; margin-right: 15px;" -->
                    </div>
                    <div class="media-body">
                <p class="text-justify"> {{ book.description|linebreaksbr }}</p>
            </div>
        </div>
        <div id="prod-details" class="row detail-content">
        </ul>
        <ul><h3>Product Details</h3>
            <div class="media">
                <div class="media-left media-top">
                    <img src="{{ book.author.first.image.url }}" class="media-object" />
                <!-- style="width: 300px; margin-right: 15px;" -->
                </div>
                <div class="media-body">
                        <p>{{ book.details|linebreaksbr }}</p>

            {# <p><strong>ISBN-13:</strong></p> #}
            <p><strong>Genre:</strong>
                <a href="/books/?q={{ book.genre|capfirst }}&sort=-tech_valley_best&order=-avg_rating">{{ book.genre|capfirst }}</a>
            </p>
            <p><strong>Publisher:</strong> {{ book.publisher }}</p>
            <p><strong>Publication Date:</strong> {{ book.publication_date }}</p>
            <p><strong>Pages:</strong> {% if book.pages == 0 %}TBA{% else %}{{ book.pages }}{% endif %}</p>
            <p><strong>Sales Rank:</strong> {{ book.sales_rank }}</p></ul>
        </div></li>

        <div id="author-bio" class="row detail-content">
            <ul><h3>About the Author</h3>
            <div class="media">
                <div class="media-left media-top">
                    <img src="{{ book.author.first.image.url }}" class="media-object"/>
                <!-- style="width: 300px; margin-right: 15px;" -->
                </div>
                <div class="media-body">
                    <p>{{ book.authors.first.description|linebreaksbr }}</p>
                    <h4 style="margin-top: 25px;">Brief Biography</h4>
                    <div class ="content">
                    <p><strong>Birthday:</strong> {{ book.authors.first.birthplace }}</p>
                    <p><strong>Date of Birth:</strong> {{ book.authors.first.dob }}</p>
                    <p><strong>Education:</strong> {{ book.authors.first.education }}</p>
                    <p><strong>Email:</strong> {{ book.authors.first.email }}</p>
                    <p><strong>Website:</strong> <a href="{{ book.authors.first.website }}">{{ book.authors.first.website }}</a>
                </div>
                <ul>
                    <div class="media">
                        <div class="media-left media-top">
                            <img src="{{ book.first.image.url }}" class="media-object"/>
                            <!-- style="width: 300px; margin-right: 15px;" -->
                        </div>
                    </div>
                </ul>

            </div>
        </div>
        
        
        {% comment %}
        {% if book.pages > 0 and book.sales_rank > 0 %}
            <div id="book-reviews" class="row detail-content">
                <h3 style="margin-bottom: 35px;">Customer Reviews</h3>
                <div class="col-xs-4 text-center book-review-container" style="border-right: 1px solid #cccccc;">
                    <h4>Average Review: {% if book.rating_avg %}{{ book.rating_avg }}{% else %}N/A{% endif %}</h4>
                    {% include 'book_rating.html' %}
                </div>
                <div class="col-xs-4 center-in-div book-review-container" style="border-right: 1px solid #cccccc;">
                    <button class="btn btn-warning">Write a Review</button>
                </div>
                <div class="col-xs-4 center-in-div book-review-container">
                    {% if book.rating_avg %}
                        <h4>{{ book.rating_count }} review{{ book.rating_count|pluralize }}</h4>{% else %}
                        <h4>Be the first to write a review</h4>{% endif %}
                </div>
            </div>
        {% endif %}
        {%endcomment%}
    </div>
{% endblock %}