{% extends "bookstore/base.html" %}
{% block title %}{{ book.title }} | {{ block.super }}{% endblock %}
{% load static from staticfiles %}

{% comment %} {% block content %}
    <h1>New comment</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Write Review</button>
    </form>
{% endblock %} {% endcomment %}
{% block content %}
<h1>Add a Review</h1>
<form method='POST'>{% csrf_token %}
{{form.as_p}}
<button type='submit'>Submit</button>
</form>

{% endblock %}