{% extends "bookstore/base.html" %}
{% load crispy_forms_tags %}
{% block register_content %}


<div class="container-fluid float-left col-md-4">
    <div class="content-section">
        <div class="media">
        <img class="rounded-circle account-img" src="{{user.profile.image.url }}">
        
        <div class="media-body">
            <h2 class="account-heading">{{ accounts.username }}</h2>
            <p class="text-secondary">{{ accounts.email }}</p>
        </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <h5><legend class="border-botton mb-4">Profile Info</legend></h5>
                {{ u_form|crispy }}
                {{ p_form|crispy }}

            </fieldset>
            <div class="form-group">
                
                <button class="btn btn-outline-info" type="submit">Update</button>
                
            </div>
        </form>
        <hr>
        <div class=" " align ="center">
            <!--<button class="btn btn-outline-info" type="submit" onclick="">Update</button>-->
            <a class="ml-2" href="{% url 'address-home' %}"> Create Billing Profile</a>
        </div><br>
        <hr>
        <div class=" " align="center">
            <!--<button class="btn btn-outline-info" type="submit" onclick="">Update</button>-->
            <a class="ml-2" href="{% url 'cards-home' %}"> Add Payment Method</a>
        </div><br>
    </div>
</div>


<div class="card container-fluid float-left col-md-4">
    <h5 class="card-header">Billing Address</h5>
    <div class="card-body">
        <h6 class="card-title">Adress 1</h6>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-outline-info">Delete</a>
        <a href="#" class="btn btn-outline-info">Edit</a>
    </div>

    <h5 class="card-header">Shiping Address</h5>
    <div class="card-body">
        <h6 class="card-title">Adress 1</h6>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-outline-info">Delete</a>
        <a href="#" class="btn btn-outline-info">Edit</a>
    </div>
</div>



<div class="card container-fluid col-md-3">
    <h5 class="card-header">Saved Card</h5>
    <div class="card-body">
        <div class="icon-container">
            <i class="fab fa-cc-visa" style="color:navy;"></i>
            <i class="fab fa-cc-amex" style="color:blue;"></i>
            <i class="fab fa-cc-mastercard" style="color:red;"></i>
            <i class="fab fa-cc-discover" style="color:orange;"></i>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-outline-info">Delete</a>
                    <a href="#" class="btn btn-outline-info">Edit</a>
        </div>
    </div>
</div>





{% endblock register_content %}