{% extends "bookstore/base.html" %}
{% load crispy_forms_tags %}


{% block register_content %}

<div class="row" style="padding: 0.9rem">

    <div class="col-sm-12 col-md-4">
        
        <div class="content-section">
             <form method="POST">
                 {% csrf_token %}
                 <fieldset class="form-group">
                     <legend class="border-botton mb-4">Address</legend>
                     {{ form|crispy }}
                 </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Create Address</button>
                </div>
            </form>
        </div>   
        
    </div>



<div class="col-sm-12 col-md-4">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-botton mb-4">Billing Address</legend>
                {{ form|crispy }}
            </fieldset>
            </form>
    </div>
</div>

    <div class="col-sm-12 col-md-4">

        <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                         <fieldset class="form-group">
                             <legend class="border-botton mb-4">Shipping Address</legend>
                                {{ form|crispy }}
                        </fieldset>
                 </form>
        
        </div>

    </div>

</div>

{% endblock register_content %}